$black: #000;
$white: #fff;
$gray: #799496ff;
$dark-gray: #1a1b1c1a;
$primary: #1a1b1c;
$secondary: #49475bff;
$olivine: #acc196ff;
$vanilla: #e9eb9eff;
$success: #28a745;
$info: #17a2b8;

$box-shadow: 1px 1px 8px -1px $dark-gray;

// UIKit variables
$global-link-color: $primary;
$navbar-background: $white;
$navbar-color: $black;